@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Simonetta:wght@400;700&family=Tiro+Bangla&family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:500');

* {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFB0B0;
  padding-top: 2rem;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.7em 12%;
  box-shadow: 0 0.2px 10px #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f79999;
  z-index: 2;
}

.nav-logo {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: auto;
  color: #810B0B;
}

.nav-logo a {
  text-decoration: none;
  color: #810B0B; /* Die gleiche Farbe wie für den Text der Navigation */
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 4rem;
  font-size: 1.1rem;
}

.nav-list a {
  text-decoration: none;
  color: #000;
  transition: color 0.5s;
}

.nav-list a:hover {
  color: #810B0B;
}

main {
  flex: 1; /* Nimmt den verfügbaren Platz ein, um den Footer nach unten zu schieben */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 89vh;
}

h1 {
  color: #444;
  font-size: 5rem;
  margin-bottom: 1rem;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

main p{
  font-family: 'Outfit', sans-serif;
  color: #444;
  font-size: 1.1rem;
}

#draw-date {
  font-family: 'Outfit', sans-serif;
  color: #444;
  font-size: 1.5rem;
}

.numbers-container {
  background: white;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
  margin: 2rem auto;
  transform: scale(0.98);
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

h2 {
  color: #444;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.numbers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Abstand zwischen den einzelnen Zahlen */
}

.number, .number-special {
  width: 70px; /* Feste Breite */
  height: 70px; /* Feste Höhe */
  background-color: #FF0000; /* Roter Hintergrund für Hauptzahlen */
  color: white;
  font-size: 2rem; /* Schriftgröße */
  font-weight: bold;
  border-radius: 50%; /* Kreisform */
  display: flex;
  justify-content: center; /* Zentriert die Zahl horizontal */
  align-items: center; /* Zentriert die Zahl vertikal */
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.number-special {
  background-color: #FFEB3B; /* Gelber Hintergrund für Spezialzahlen */
  color: #810B0B; /* Dunkelrote Schriftfarbe */
}

.footer {
  background-color: #810B0B; /* Dunkelrot */
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1.7em 12%;
  margin-top: 0;
  font-size: 1rem;
  font-family: 'Outfit', sans-serif;
}
    
  .footer-left a,
  .footer-right p {
    color: white;
    text-decoration: none;
  }
    
  .footer-left a {
    margin-right: 4em;
  }
    
  .footer-left a:hover {
    text-decoration: underline;
  }
    
  .footer-right {
    text-align: right;
  }